<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/lib/starter-template.css}" rel="stylesheet">
<link th:href="@{/css/lib/font-awesome.min.css}" rel="stylesheet">
<!-- 社員情報変更画面 CSS -->
<link th:href="@{/css/edit.css}" rel="stylesheet">

<!-- js -->
<script th:src="@{/js/lib/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/lib/popper.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>

<!-- title -->
<title th:text="${title}"></title>
</head>
<body>
	<!-- fragments/navbar :: menu start -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
		th:replace="fragments/commons :: menu('edit')"></nav>
	<!-- fragments/navbar :: menu end -->
	<!-- 社員情報変更画面 start -->
	<div th:fragment="empEdit_contents">
		<div class="col-sm-3">
			<div class="container mt-5 p-lg-5">
				<div class="list">社員情報変更</div>
				<form class="input-form" method="post" th:action="@{/edit}"
					th:object="${updateForm}">
					<table class="table table-bordered">
						<tbody>
							<!-- 社員番号入力 -->
							<tr>
								<th scope="row">
									<label for="empIdLine">社員番号</label>
								</th>
								<td>
									<div class="form-group">
										<input id="empId" name="empId" type="text" class="form-control"
											placeholder="社員番号を入力してください" th:field="*{empId}" readonly>
									</div>
								</td>
							</tr>
							<!-- 氏名入力 -->
							<tr>
								<th scope="row">
									<label for="empNameLine">氏名</label>
								</th>
								<td>
									<div class="form-group">
										<input id="empName" name="empName" type="text" class="form-control"
											placeholder="氏名を入力してください" th:field="*{empName}">
									</div>
								</td>
							</tr>
							<!-- フリガナ入力 -->
							<tr>
								<th scope="row">
									<label for="empKanaLine">フリガナ</label>
								</th>
								<td>
									<div class="form-group">
										<input id="empKana" name="empKana" type="text" class="form-control"
											placeholder="フリガナを入力してください" th:field="*{empKana}">
									</div>
								</td>
							</tr>
							<!-- 所属部署選択 -->
							<tr>
								<th scope="row">
									<label for="affiLine">所属部署</label>
								</th>
								<td>
									<div class="form-group">
										<select id="affi" name="affi" class="form-control" th:field="*{affi}">
											<option value="">--所属部署を選択してください--</option>
											<option th:each="affi : ${affi}"
												th:value="${affi?.key}"
												th:text="${affi?.value}">
											</option>
										</select>
									</div>
								</td>
							</tr>
							<!-- 役職選択 -->
							<tr>
								<th scope="row">
									<label for="empTitleLine">役職</label>
								</th>
								<td>
									<div class="form-group">
										<select id="empTitle" name="empTitle" class="form-control" th:field="*{empTitle}">
											<option value="">--役職を選択してください--</option>
											<option th:each="empTitle : ${empTitle}"
												th:value="${empTitle?.key}"
												th:text="${empTitle?.value}">
											</option>
										</select>
									</div>
								</td>
							</tr>
							<!-- 連絡先入力 -->
							<tr>
								<th scope="row">
									<label for="contactLine">連絡先</label>
								</th>
								<td>
									<div class="form-group">
										<input id="contact" name="contact" type="text" class="form-control"
											placeholder="連絡先を入力してください" th:field="*{contact}">
									</div>
								</td>
							</tr>
							<!-- メールアドレス入力 -->
							<tr>
								<th scope="row">
									<label for="emailLine">メールアドレス</label>
								</th>
								<td>
									<div class="form-group">
										<input id="email" name="email" type="text" class="form-control"
											placeholder="メールアドレスを入力してください" th:field="*{email}">
									</div>
								</td>
							</tr>
							<!-- 入社日入力 -->
							<tr>
								<th scope="row">
									<label for="dateEmpLine">入社日</label>
								</th>
								<td>
									<div class="form-group">
										<input id="dateEmp" name="dateEmp" type="text" class="form-control"
											placeholder="yyyy/MM/dd" th:field="*{dateEmp}" readonly>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!--ボタンブロック-->
					<div class="form-group row">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary">更新</button>
							<button type="button" class="btn btn-secondary"onClick="history.back()">キャンセル</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 社員情報変更画面 end -->
	<!-- フォーム入力チェック js -->
	<script th:src="@{/js/lib/bs4-form-validation.js}"></script>
	<script type="text/javascript">
		let form = new Validation("input-form");
		// 項目の内容をチェック
		form.requireEmpName("empName", [ " " ], []);
		form.requireEmpKana("empKana", [ " " ], []);
		form.requireAffi("affi", [ " " ], []);
		form.requireEmpTitle("empTitle", [ " " ], []);
		form.requireContact("contact", [ " " ], []);
		form.requireEmail("email", [ " " ], []);
	</script>
</body>
</html>